<div class="row">
  <section class="col-md-8 show-box">
    <h1 class="bike-show-title"><%= bike.get('year') %>
    <%= bike.get('make') %>
    <%= bike.get('model') %></h1>

    <img src=<%= image %>>
    <br>
    <div class="user-title">
      <%= bike.owner() %>
    </div>
      <div class="bike-img-bottom-divider"></div>
      <p class="description"><%= bike.get('description') %></p>
  </section>


<aside class="col-md-2 rent-box">
  <div class="pricing">
    <div class="per-hour-rate">
      <header class=rent-for-label>Rent this bike for:</header>
      <div class="per-price big-price">$<%= bike.get('hour_rate') %></div>
       <div class="per-hour">per hour</div>
    </div>

     <div class="per-other">
       <div class="daily-price">
         <div class="per-price">$<%= bike.get('day_rate') %></div>
         <div class="per-time">per day</div>
       </div>
       <div class="weekly-price">
         <div class="per-price">$<%= bike.get('day_rate') * 7%></div>
         <div class="per-time">per week</div>
       </div>
     </div>

  </div>
  <div class="bike-show-bottom-divider"></div>

  <div class="show-dates">
    <div class="pickup-wrapper">
      <label class="bike-show-dates">Pickup</label>

      <div class="row form-inline">
        <div class="form-group dates">
          <input class="search-input date form-control" id="pickup-date" type="text" name="" value="" placeholder="Date">
          <input class="search-input time form-control" id="pickup-time" type="text" name="" value="" placeholder="Time">
        </div>
      </div>
    </div>


    <div class="return-wrapper">
      <label class="bike-show-dates">Return</label>

      <div class="row form-inline">
        <div class="form-group dates">
          <input class="search-input date form-control" id="return-date" type="text" name="" value="" placeholder="Date">
          <input class="search-input time form-control" id="return-time" type="text" name="" value="" placeholder="Time">
        </div>
      </div>
    </div>
    <input type="submit" value="Rent" class="btn rent-button btn-disabled" data-toggle="tooltip" title="Select your pickup and return times to rent this bike.">
  </div>

</aside>

</div>
