<img class="bike-listing" src=<%= image %>>
<div class="bike-details">
  <a href="#bikes/1" class="bike-title">
    <%= bike.get('year') %>
    <%= bike.get('make') %>
    <%= bike.get('model') %>
  </a>

  <div class="bike-rates">
     $<%= bike.get('hour_rate') %>/hour
     <br>
     $<%= bike.get('day_rate') %>/day
  </div>

  </div>
  <div class="bike-list-bottom-divider"></div>
