<a href="#bikes/<%= bike.get('id') %>" class="bike-title">
  <img class="bike-listing" src=<%= image %>>
  <div class="bike-details">
    <%= bike.get('year') %>
    <%= bike.get('make') %>
    <%= bike.get('model') %>
  </a>

  <div class="bike-rates">
     $<%= bike.get('hour_rate') %>/hour
     <br>
     $<%= bike.get('day_rate') %>/day
  </div>

  </div>
  <hr class="bike-list-item">
