<a href="/#bikes/<%= bike.id %>" class="rental">
  <div class="rental-details-image">
    <img class="rental" src="<%= bike.image_url %>"/>
  </div>
  <div class="rental-details">
    <h1 class="rental-title"><%= rental.get('status') %> - <%= bike.year %> <%= bike.make %> <%= bike.model %> </h1>
    <hr>
    <div class="rental-pickup">
    <h4 class="rental-title">Pickup</h4>
    <%= dates[0] %><br>
    <%= dates[1] %></div>

    <div class="divider-rental-show"></div>

    <div class="rental-return">
      <h4 class="rental-title">Return</h4>
    <%= dates[2] %><br>
    <%= dates[3] %></div>
  </div>
</a>
